/* etiqueta la como es como su fuera un y para aplicar tambien el 
formato al otro */
article, h1{
    background-color: deepskyblue;
}
/* va a referneciar a todos los hijos de los articles que tenga 
section  */
section article{
    border: 2px solid salmon;
}

/* a los hijos que esten en un primer nivel signo > significa primeros hijos */
ul > li{
    font-family: Arial;
    color: limegreen;
}

nav > ul> ol > li{
    color: mediumpurple;
}

/* .nombre de la clase */
.titulo{
    color: red;
    text-decoration: underline;
}

.noticia{
    background-color: yellow;
}

.adicional{
    font-family: Impact;
}
/* #nombre_id
que es unico es el equivalente a un dni  */

#importante{
    background-color: yellowgreen;
    /* solamente usar important en casos de mucha necesidad */
    text-decoration: overline !important;
}